<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Operaciones Matematicas</h2>
    <form action="{% url 'encuesta:respuesta_operaciones' %}" method="post">
        {% csrf_token %}
        Número:
        <input type="text" name="num1" maxlength="50">
        <br>
        Número:
        <input type="text" name="num2" maxlength="50">
        <br> 
        Operación:
        <select name="operacion">
            <option value="+">Suma</option>
            <option value="-" selected>Resta</option>
            <option value="*">Multiplicacion</option>
        </select> 
        <input type="submit" name="submit" value="Calcular">
    </form>
</body>
</html>